.pc-eff { display:block; }     
.sp-eff { display:none; }      

@media screen and (max-width: 700px){
  .pc-eff { display:none; }    
  .sp-eff { display:block; }   
 }

 body{
  margin:10px 10%;
  padding: 5px 5px;
  }
  
li{
  list-style: none;
}

.box29 {
  margin: 2em 0;
  background: #dcefff;
  color: #5d627b;
}
.box29 .box-title {
  font-size: 1.2em;
  background: #5fb3f5;
  padding: 4px;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: center;
}
.box29 p {
  padding: 15px 20px;
  margin: 0;
}


.sample {
  text-align: center;
  display: block;
}
.sample ul {
  padding-left: 0;
  list-style: none;
  display: inline-block;
}
.sample ul li {
  text-align: left;
}

.sample-box{
  width:480px;
  height:auto;
  border:2px solid #a7e;
}

.sample-box2{
  width:620px;
  height:auto;
  border:2px solid #a7e;
}

div.q6{
  display:inline-block;
  padding: 10px; 
  margin: 10px; 
  border: 1px 
  solid #333333;
}

table {
  border-collapse: collapse;
}

td {
  border: solid 1px;
  padding: 0.5em;
}


.container {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  padding-top: 40px;
}

.btn-push {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: #66FF99;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  border-bottom: 4px solid #66CC66;
}

.btn-push:active {
  transform: translateY(4px);
  border-bottom: none;
}
